@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.shine {
    --tw-text-opacity: 1;
    color: rgb(250 250 250/var(--tw-text-opacity))
}

@keyframes shimmer {
    0% {
      background-position: -500px 0;
    }
    100% {
      background-position: 500px 0;
    }
  }
  
  .animate-shimmer {
    animation: shimmer 2s linear infinite;
    background: linear-gradient(to right, #f0f0f0 8%, #ededed 18%, #f0f0f0 33%);
    background-size: 1000px 100%;
  }
  