@tailwind base;
@tailwind components;
@tailwind utilities;

html,
* {
  padding: 0;
  margin: 0;
}

.shine {
  --tw-text-opacity: 1;
  color: rgb(250 250 250/var(--tw-text-opacity))
}

/* Hide Scrollbars */

body::-webkit-scrollbar {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}